body{
    background: #e7e8e9;
}

a{
    background-color: #e7e8e9;
    color: #223c4e;
    padding: 5px;
}

h1{
    color: white;
}

header{
    background: #e77827;
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
}

section{
    background: #223c4e;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.food{
    float: left;
    width: 47%;
    height: 200px;
}

.about{
    float: right;
    width: 47%;
    height: 300px;
}

.description1{
    float: left;
    width: 47%;
    height: 600px;
    text-align: justify;
}

.description2{
    float: right;
    width: 47%;
    height: 500px;
    text-align: justify;
}

footer{
    background: #223c4e;
    color: white;
    text-align: center;
    clear:both;
    padding: 5px;
    margin: 10px;
}